// GRID
$grid-width: 90rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// COLORS

// brand identities
$dayOnePurple: #8f00ff;
$dayOneHover: #7a00d9;
$pier13Blue: #0e314b;
$pier13Hover: #0c2a40;
$dzineElementsBlue: #0051cc;
$dzineElementsHover: #0045ad;
$jscSeries: #17220e;
$jscSeriesHover: #141d0c;

// websites
$tattooInk: #600808;
$eclipseRave: #b20063;
$getAMedical: #2100d5;
$perfectWellness: #9bc5ca;
$perfectWellnessHover: #9bc5ca;

// motion
$bduck: #ceb929;
$virginRed: #b21e25;
$oppoC: #28292a;
$lakers: #cd8f00;

// mobile
$mosqueApp: #38b07a;
$sbm: #969fc9;
