// GRID
$grid-width: 90rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// COLORS

// brand identities
$dayOnePurple: #8F00FF;
$pier13Blue: #0E314B;
$dzineElementsBlue: #0051CC;
$jscSeries: #17220E;

// websites
$tattooInk: #710A0A;
$eclipseRave: #F60089;
$getAMedical: #2700FB;
$perfectWellness: #B6E8EE;