// GRID
$grid-width: 90rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// COLORS

// brand identities
$dayOnePurple: #8f00ff;
$dayOneHover: rgba(143, 0, 255, 0.85);
$pier13Blue: #0e314b;
$pier13Hover: #0e314b;
$dzineElementsBlue: #0051cc;
$dzineElementsHover: rgba(0, 81, 204, 0.85);
$jscSeries: #17220e;
$jscSeriesHover: #17220e;

// websites
$tattooInk: #710a0a;
$eclipseRave: #f60089;
$getAMedical: #2700fb;
$perfectWellness: #b6e8ee;
$perfectWellnessHover: rgba(182, 232, 238, 0.85);

// motion
$bduck: #f2da30;
$virginRed: #d1232c;
$oppoC: #2f3032;
$lakers: #f1a800;

// mobile
$mosqueApp: #42cf90;
$sbm: #b0bbed;
