#and-more {
  margin-top: 10rem;
  .plus-tween {
    font-size: 90px;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    display: none;

    @include respond(phone) {
      font-size: 35px;
    }
  }

  .and-more-section {
    cursor: pointer;
    font-size: 100px;
    line-height: 100px;

    @include respond(tab-land) {
      font-size: 90px;
      line-height: 90px;
    }

    @include respond(phone) {
      font-size: 44px;
      line-height: 44px;
    }
  }
}
