.footer {
    position: relative;
    display: flex;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    flex-direction: column;
    align-items: center;
    color: #fff;
    transition: background ease-out 0.5s;

    .section-header {
        font-size: 120px;
        line-height: 90px;

        @include respond(tab-land) {
            font-size: 60px;
            line-height: 60px;
        }
    }

    .grid-footer {
        display: -ms-grid;
        display: grid;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 40px;
        padding-top: 40px;
        grid-auto-columns: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;

        .column {
            display: block;
            margin-left: auto;
            margin-right: auto;

            .city {
                font-size: 40px;
                letter-spacing: 0;
                line-height: 48px;

                @include respond(tab-land) {
                    font-size: 20px;
                    line-height: 20px;
                }
            }

            p {
                font-size: 28px;
                letter-spacing: 0;
                line-height: 40px;


                @include respond(tab-land) {
                    font-size: 14px;
                    line-height: 14px;
                }
            }
        }
    }

    .grid-footer-social {
        display: -ms-grid;
        display: grid;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 40px;
        padding-top: 40px;
        grid-auto-columns: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .social {
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-size: 32px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 48px;

            @include respond(tab-land) {
                font-size: 16px;
                line-height: 16px;
            }
        }
    }
}