header {
    .top-menu {
        position: fixed;
        width: 100%;
        z-index: 100;

        ol {
            margin: auto;
            width: $grid-width;

            li {
                display: inline-block;
                margin-top: 30px;
            }
    
            .logo {
                float: left;
                overflow-x: hidden;
    
                svg {
                    transform: translateX(-185px);
    
                    path {
                        opacity: 1;
                    }
                }
            }

            .inactive {
                svg {
                    animation-name: moveInLeft;
                    animation-duration: 0.5s;
                    animation-timing-function: ease-out;

                    path {
                        opacity: 1;
                    }
                }
            }
            
            .active {
                svg {
                    animation-name: moveOutLeft;
                    animation-duration: 0.5s;
                    animation-timing-function: ease-out;
    
                    transform: translateX(0);
    
                    path {
                        opacity: 1;
                    }
                }
            }
        }

        .contact-us {
            float: right;

            svg {
                height: 60px;
            }
        }

        .logo:hover {
            width: 250px;
        }
    }

    .side-menu {
        position: fixed;
        z-index: 100;
        right: 0;
        top: 40%;

        ol.right {
            list-style: none;
            font-size: 27px;
            width: 45px;
            margin-right: 25px;
            overflow-x: hidden;

            li {

                cursor: pointer;
                margin: 26px;
                width: 30px;
            }

            li.active {
                animation: slideOutLeft;
                animation-duration: 0.5s;
                animation-timing-function: ease-out;
            }
        }
    }
}

.scroll-magic {
    .header-text {
        position: relative;
        padding-top: 50%;
    }

    .brand-text {
        text-align: center;
    }
}

.tween {
    position: absolute;
    opacity: 0;
    width: 200px;
    height: 120px;
    background-color: white;
    transition: opacity;
}

.plus-tween {
    font-size: 90px;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    position: absolute;
    display: none;
}