.brand-portfolio {
  .info {
    display: flex;
    flex-direction: row;

    .see-more {
      width: 98px;
      height: 1px;
      background: #ffffff;
      margin-top: 15px;
      margin-right: 15px;

      @include respond(phone) {
        width: 38px;
      }
    }

    .label {
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .alignRight {
    .info {
      flex-direction: row-reverse;

      .see-more {
        margin-left: 15px;
        margin-right: 0px;
      }
    }
  }
}
