.brand-portfolio {
  opacity: 0;
  overflow: hidden;
  height: 0;
  transition: opacity ease-in-out 1s;

  .content-area {
    display: flex;
    justify-content: start;
    margin: 2rem 4rem;

    @include respond(phone) {
      margin: 1rem 2rem;
    }

    .text {
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: auto;
      margin-bottom: auto;

      h1 {
        cursor: pointer;
        font-size: 50px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        transition: all ease-out 0.3s;

        @include respond(phone) {
          font-size: 26px;
          line-height: 26px;
        }

        a {
          text-decoration: none;
          color: inherit;
        }
      }

      h1:hover {
        -webkit-text-fill-color: white;
      }

      .info {
        font-size: 21px;

        @include respond(phone) {
          font-size: inherit;
        }
      }
    }

    .alignRight {
      h1 {
        text-align: right;
      }
    }

    img {
      cursor: pointer;
      margin: 0 2rem;
      width: 0%;

      @include respond(phone) {
        margin: 0;
      }
    }
  }

  .flexEnd {
    justify-content: flex-end;
  }
}

.brand-ids {
  .brand-open {
    opacity: 1;
    height: auto;
    position: relative;
    overflow: visible;

    .content-area {
      img {
        width: 30%;
      }
    }
  }
}

.open-showcase {
  opacity: 1;
  height: auto;
  position: relative;
  overflow: visible;

  .content-area {
    img {
      width: auto;
      max-height: 241px;

      @include respond(phone) {
        max-height: 141px;
      }
    }
  }
}
