.team {
  position: relative;

  .title {
    font-family: Roboto-Bold;
    font-size: 100px;
    line-height: 100px;
    color: white;
    letter-spacing: 0;
    text-align: center;
    padding: 10rem 10rem 5rem 10rem;

    @include respond(tab-land) {
      font-size: 90px;
      line-height: 90px;
      padding: 5rem 5rem 2.5rem 5rem;
    }

    @include respond(phone) {
      font-size: 44px;
      line-height: 44px;
      padding: 2rem 2rem 1.5rem 2rem;
    }
  }
  .container {
    display: flex;
    justify-content: center;

    .image-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

      img {
        cursor: pointer;
        opacity: 0.3;
        margin: 33px;
        transition: opacity ease-in 0.3s;

        @include respond(tab-land) {
          margin: 10px;
          height: 92px;
          width: 92px;
        }

        @include respond(phone) {
          margin: 11px;
          height: 45px;
          width: 46px;
        }
      }

      img:hover {
        opacity: 1;
      }
    }
  }
}
